<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Depozit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link href="../static/content/jumbotron.css" rel="stylesheet">
    <link href="../static/content/register.css" rel="stylesheet">
    <script src="../static/scripts/jquery-1.11.2.js"></script>
    <script src="../static/scripts/register.js"></script>
</head>
<body>
<div class = "jumbotron">
  <h2> Depozit </h2>
  <p style="color:red"> {{errormsg}} </p>
    <form class="form-signin" action="/Depozit", method="post">

        <label for = "inputKod" class = "sr-only"> Kod </label>
        <input type="number" name="inputKod" id = "inputKod" class="form-control" placeholder="Kod" required>

        <label for = "inputSuma" class = "sr-only"> Suma </label>
        <input type="number" name="inputSuma" id = "inputSuma" class="form-control" placeholder="Suma" required>

        <input type="submit" value="Uplata">
    </form>
        <a href="/PrikaziIndex">Povratak na pocetnu stranicu.</a>
</div>
</body>
</html>

