<!DOCTYPE html>
<html lang="en">
<head>

        <style>

        table {
            border-collapse: collapse;
            border-width: 2px;
            border-color: black;
            border-style: solid;
        }

        th {
            background-color: cadetblue;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            text-align:center;
        }

        td {
            border-width: 2px;
            border-color: black;
            border-style: solid
        }
    </style>

   <meta charset="UTF-8">
    <title>PREGLED KORISNIKA</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link href="../static/content/jumbotron.css" rel="stylesheet">
    <link href="../static/content/register.css" rel="stylesheet">
    <script src="../static/scripts/jquery-1.11.2.js"></script>
    <script src="../static/scripts/register.js"></script>
</head>
<body>
<div class = "jumbotron">
    <p>
         Ime :     {{korisnik["ime"]}} </br>
         Prezime : {{korisnik["prezime"]}} </br>
         Adresa :  {{korisnik["adresa"]}} </br>
         Grad :    {{korisnik["grad"]}} </br>
         Drzava :  {{korisnik["drzava"]}} </br>
         Telefon : {{korisnik["brojTelefona"]}} </br>
         Email :   {{korisnik["email"]}} </br>

         Stanje na racunu: {{korisnik["stanjeNaRacunu"]}} </br>


    </p>

    </br> </br>

    Stanje u banci: </br>

    <table>
    <tr>
        <th> Valuta </th>
        <th> Iznos </th>
    </tr>

      {% for r in racuni %}
    <tr>

        <td> {{r["valuta"]}} </td>
        <td> {{r["iznos"]}} </td>

        </tr>
    {% endfor %}



        </table>

     </br> </br>

    <a href = "/PrikaziIzmenuProfila"> Izmeni profil </a> </br> </br>
    <a href="/PrikaziDepozit" > Uplati novac iz banke </a> </br></br>
    <a href="/PrikaziMenjacnicu" > Zameni novac </a> </br></br>

    <p>
        Iniciranje transkacije drugom korisniku:</br>

        <a href="/PrikaziOnlineRacun">Uplata na online racun </a></br>
        <a href="/PrikaziBankovniRacun">Uplata na bankovni racun </a></br>


        <a href="/PrikaziPregledTransakcija">Pregled transkacija</a></br>
        <a href="/PrikaziPregledValuta">Pregled valuta</a></br>
    </p>
    <a href="/Logout" > Logout </a> </br></br>
</div>
</body>
</html>