<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Modifikacija</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link href="../static/content/jumbotron.css" rel="stylesheet">
    <link href="../static/content/register.css" rel="stylesheet">
    <script src="../static/scripts/jquery-1.11.2.js"></script>
    <script src="../static/scripts/register.js"></script>
</head>
<body>


    <div class="jumbotron">


   <p>
         EMAIL :   {{korisnik["email"]}} </br>
   </p>

    <h2>Modifikacija</h2>
    <form class="form-signin" action="/IzmeniProfil" method="post">

        <label for="inputIme" class="sr-only">Ime:</label>
        <input type="text" name="inputIme" id="inputIme" class="form-control" placeholder="{{korisnik['ime']}}" required autofocus></br>

       <label for="inputPrezime" class="sr-only">Prezime:</label>
        <input type="text" name="inputPrezime" id="inputPrezime" class="form-control" placeholder="{{korisnik['prezime']}}" required autofocus></br>

        <label for="inputAdresa" class="sr-only">Adresa:</label>
        <input type="text" name="inputAdresa" id="inputAdresa" class="form-control" placeholder="{{korisnik['adresa']}}" required autofocus></br>

        <label for="inputGrad" class="sr-only">Grad:</label>
        <input type="text" name="inputGrad" id="inputGrad" class="form-control" placeholder="{{korisnik['grad']}}" required autofocus></br>


        <label for="inputDrzava" class="sr-only">Drzava:</label>
        <input type="text" name="inputDrzava" id="inputDrzava" class="form-control" placeholder="{{korisnik['drzava']}}" required autofocus></br>




        <label for="inputBrojTelefona" class="sr-only">Broj telefona:</label>
        <input type="number" name="inputBrojTelefona" id="inputBrojTelefona" class="form-control" placeholder="{{korisnik['brojTelefona']}}" required autofocus></br>


         <label for="inputLozinka" class="sr-only">Lozinka:</label>
        <input type="password" name="inputLozinka" id="inputLozinka" class="form-control" placeholder="Lozinka" required autofocus></br>


        <input type="submit" value="Modifikuj"></br>

        <a href="/PrikaziIndex">Povratak na pocetnu stranicu.</a>
    </form>
</div>


</body>
</html>