<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Menjacnica</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link href="../static/content/jumbotron.css" rel="stylesheet">
    <link href="../static/content/register.css" rel="stylesheet">
    <script src="../static/scripts/jquery-1.11.2.js"></script>
    <script src="../static/scripts/register.js"></script>
</head>
<body>
    <div class = "jumbotron">
    <h2> Kupovina deviza </h2>
    <p style="color:red"> {{errormsg}} </p>
    <form class = "form-signin" action="/ZameniNovac" method="post">

        <label for="inputKolicina" class = "sr-only"> Kolicina novca </label>
        <input type = "number" name="inputKolicina" id="inputKolicina" onchange="zameni()" class="form-control" placeholder="Kolicina" required autofocus></br>

        <div class="form-group">
          <label>Valuta</label>
          <select name="inputValuta" id="sub_category_id" class="form-control">
             <option value="" selected="selected"></option>
              {% for v in valute %}
              <option value="{{v.valuta}}">{{v.valuta}}</option>

              {% endfor %}
          </select>
        </div>

        <input type="submit" value="Zameni">

    </form>
    <a href="/PrikaziIndex">Povratak na pocetnu stranicu.</a>
</div>
</body>
</html>