<!DOCTYPE html>
<html lang="en">
<head>

    <style>

        table {
            border-collapse: collapse;
            border-width: 2px;
            border-color: black;
            border-style: solid;
        }

        th {
            background-color: cadetblue;
            border-width: 2px;
            border-color: black;
            border-style: solid;
            text-align:center;
        }

        td {
            border-width: 2px;
            border-color: black;
            border-style: solid
        }
    </style>
   <meta charset="UTF-8">
    <title>Pregled valuta</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link href="../static/content/jumbotron.css" rel="stylesheet">
    <link href="../static/content/register.css" rel="stylesheet">
    <script src="../static/scripts/jquery-1.11.2.js"></script>
    <script src="../static/scripts/register.js"></script>
</head>
<body>

    <div class = "jumbotron">

    <form action="/PrikaziPregledValuta" method="post"><input type="submit" value=" Refresh" ></form>
    <a href="/PrikaziIndex">Povratak na pocetnu stranicu.</a>
    <h2> Pregled svih valuta </h2>

        <table>
            <tr>
                <th> Valuta </th>
                <th> Vrednost </th>
            </tr>

              {% for v in valute %}
            <tr>

                <td> {{v["valuta"]}} </td>
                <td> {{v["vrednost"]}} </td>

                </tr>
            {% endfor %}



        </table>

</div>

</body>
</html>

