<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <link href="../static/content/jumbotron.css" rel="stylesheet">
    <link href="../static/content/register.css" rel="stylesheet">
    <script src="../static/scripts/jquery-1.11.2.js"></script>
    <script src="../static/scripts/register.js"></script>

</head>
<body>
<div class = "jumbotron">
    <h2> Login </h2>
    <p style="color:red"> {{errormsg}} </p>
    <form class = "form-signin" action="/Login" method="post">

        <label for="inputEmail" class = "sr-only"> Email </label>
        <input type = "email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email" required autofocus> </br>

        <label for="inputLozinka" class = "sr-only"> Password </label>
        <input type = "password" name="inputLozinka" id="inputLozinka" class="form-control" placeholder="Lozinka" required autofocus>

        <input type="submit" value="Uloguj se">

    </form>
     <a href = "/PrikaziRegistraciju"> Registracija </a>
</div>
</body>
</html>